-function addZero(num) {
    -return num<10 ? '0'+num : num;
-}

-function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = addZero(date.getDate());
    -var m = addZero(date.getMonth() + 1);
    -var y = date.getFullYear();
    -var h = addZero(date.getHours());
    -var min = addZero(date.getMinutes());
    -return `${d}.${m}.${y} ${h}:${min}`;
-}

-function getGender(genderId) {
    -var genderArr = ["U", "F", "M"]
    -return genderArr[genderId];
-}

-function getMeasure(measureId) {
    -var measureArr = ["", "cm", "kg"]
    -return measureArr[measureId];
-}

-var formatForPrint = function(table) {
  -var tableParent = table.parentNode;
  -var cell = table.querySelector("tbody > tr > td");
  -var topFauxRow = document.createElement("table");
  -var fauxRowTable = topFauxRow.insertRow(0).insertCell(0).appendChild(table.cloneNode());
  -var colgroup = fauxRowTable.appendChild(document.createElement("colgroup"));
  -var headerHider = document.createElement("div");
  -var metricsRow = document.createElement("tr");
  -var cells = cell.parentNode.cells;
  -var cellNum = cells.length;
  -var colCount = 0;
  -var tbods = table.tBodies;
  -var tbodCount = tbods.length;
  -var tbodNum = 0;
  -var tbod = tbods[0];
  -for(; cellNum--; colCount += cells[cellNum].colSpan);
  -for(cellNum = colCount; cellNum--; metricsRow.appendChild(document.createElement("td")).style.padding = 0);
  -tbod.insertBefore(metricsRow, tbod.firstChild);
  -for(; ++cellNum < colCount; colgroup.appendChild(document.createElement("col")).style.width = cells[cellNum].offsetWidth + "px");
  -var borderWidth = metricsRow.offsetHeight;
  -metricsRow.className = "metricsRow";
  -borderWidth -= metricsRow.offsetHeight;
  -tbod.removeChild(metricsRow);
  -tableParent.insertBefore(topFauxRow, table).className = "fauxRow";
  -for(; ++cellNum < colCount; colgroup.appendChild(document.createElement("col")).style.width = cells[cellNum].offsetWidth + "px");
  -var borderWidth = metricsRow.offsetHeight;
  -metricsRow.className = "metricsRow";
  -borderWidth -= metricsRow.offsetHeight;
  -tbod.removeChild(metricsRow);
  -tableParent.insertBefore(topFauxRow, table).className = "fauxRow";
  -if(table.tHead)
      -fauxRowTable.appendChild(table.tHead);
  -var fauxRow = topFauxRow.cloneNode(true)
  -var fauxRowCell = fauxRow.rows[0].cells[0];
  -fauxRowCell.insertBefore(headerHider, fauxRowCell.firstChild).style.marginBottom = -fauxRowTable.offsetHeight - borderWidth + "px";
  -if(table.caption)
      -fauxRowTable.insertBefore(table.caption, fauxRowTable.firstChild);
  -if(tbod.rows[0])
      -fauxRowTable.appendChild(tbod.cloneNode()).appendChild(tbod.rows[0]);
  -for(; tbodNum < tbodCount; tbodNum++) {tbod = tbods[tbodNum];rows = tbod.rows;for(; rows[0]; tableParent.insertBefore(fauxRow.cloneNode(true), table).rows[0].cells[0].children[1].appendChild(tbod.cloneNode()).appendChild(rows[0]));}
  -tableParent.removeChild(table);
-}

-var printTable = function() {
  -var tables = document.body.querySelectorAll("table.print")
  -var tableNum = tables.length;
  -for(; tableNum--; formatForPrint(tables[tableNum]));
-}

doctype html
html
    head
        style
            include index.css
    body
        div.divFooter
        div.wrapper
            div.header
                div.flex-container
                    div.flex-item
                        div
                            img.logo(src='assets/img/logo.png')
                            div.logo-text Der Schweizer Medikationsplan
                    div.flex-item
                        div.logo-margin-1
                            div.header-text= `${Patient.FName} ${Patient.LName}`
                            div.default-text-size= `${Patient.BDt} (${getGender(Patient.Gender)})`
                            div.default-text-size= `${Patient.Street}, ${Patient.Zip} ${Patient.City} / ${Patient.Phone}`
                        div.flex-container.default-text-size
                            div.flex-item.small-text
                                div Körpergrösse / Gewicht :
                                div Niereninsuffizienz :
                                div Allergie(n) :
                            div.flex-item.small-text
                                div= `${Patient.Med.Meas[0].Val} ${getMeasure(Patient.Med.Meas[0].Unit)} / ${Patient.Med.Meas[1].Val} ${getMeasure(Patient.Med.Meas[1].Unit)}`
                                div= `TODO: leicht`
                                div= `TODO: Penicillin-Allergie`
                    div.flex-item.default-text-size
                        div.logo-margin-2 erstellt von :
                        div= `TODO: Dr. med. F. Weise`
                        div= `TODO: Praxis Weitblick`
                        div= `TODO: 9288 Berg`
                    div.flex-item
                        div
                            img.qr(src='assets/img/qr.png')
            //TODO:    td(colspan='12').no-bodrer.annotation= `Letzter Stand: ${prettyDate(Dt)}`

            div.stand
                table(cellpadding='0' cellspacing='0')
                    thead
                        tr
                            th(colspan='2') Medikament
                            th Morgen
                            th Mittag
                            th Abend
                            th zur Nacht
                            th Einheit
                            th Art der Medikation
                            th Von bis u. mit
                            th Anleitung
                            th Grund
                            th Verordnet durch
                    tbody
                        each val in Medicaments
                            tr
                                td= `${val.IdType}`
                                td= `${val.IdType}`
                                td= `${val.Pos[0].D[0]}`
                                td= `${val.Pos[0].D[1]}`
                                td= `${val.Pos[0].D[2]}`
                                td= `${val.Pos[0].D[3]}`
                                td= `${val.Unit}`
                                td täglich
                                td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                td= `${val.AppInstr ? val.AppInstr : ''}`
                                td= `${val.TkgRsn}`
                                td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`
                                tr
                                    td= `${val.IdType}`
                                    td= `${val.IdType}`
                                    td= `${val.Pos[0].D[0]}`
                                    td= `${val.Pos[0].D[1]}`
                                    td= `${val.Pos[0].D[2]}`
                                    td= `${val.Pos[0].D[3]}`
                                    td= `${val.Unit}`
                                    td täglich
                                    td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                                    td= `${val.AppInstr ? val.AppInstr : ''}`
                                    td= `${val.TkgRsn}`
                                    td= `${val.PrscbBy ? val.PrscbBy : ''}`

                p.p2 Bemerkung :
                p.p1= `${Rmk ? Rmk : 'Der Patient ist vom Medikationsplan begeistert!'}`
                table
                   // TODO: p   td(colspan='12').no-bodrer.bold Reservemedikation
                   //
                   // TODO:  thead
                   tr
                        td Essigwickel
                        td
                        td -
                        td -
                        td -
                        td -
                        td -
                        td täglich
                        td
                        td bei Bedarf
                        td Fieber
                        td Selbstmedikation
                   tr
                        td <a href="http://webex.e-mediat.net/Webapplications/KCH/mpub/pnr/1159424/html/de">ANTIPYRETIC Filmtabl 500 mg</a>
                            div.small-text Antipyretic
                        td
                            img(src='assets/img/tablet_antipyretic.png')
                        td(colspan='5') siehe Anleitung
                        td
                        td
                        td bis zu max. 4 mal täglich 1 Tablette einnehmen
                        td Schmerzen
                        td Selbstmedikation
                //div.footer#pageFooter
                // div.footer#pageFooter
                // table.running-footer(cellpadding='0' cellspacing='0')
                //    tr
                //        td.td1
                //            p Peter Muster (01.11.1943)
                //        td.td2
                //            p eMediplan by Softwarehersteller AG (V1.0)
                //        td.td3
                //            p Seite 1 von 1
