@page {
  size: 11.69in 4.427in;
  margin: 29px 26px 26px;
  padding-bottom: 150px;
  counter-increment: page;
}
.wrapper {
  font-family: 'Arial';
}
.footer, .stand, .default-text-size {
  font-size: 0.716em;
}
.header .logo {
  width: 223px;
  height: 61px;
  margin-bottom: 13px;
}
.header .logo-text {
  font-weight: bold;
  text-align: center;
  font-size: 0.887em;
}
.header .header-text {
  font-size: 1.341em;
}
.header .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.header .flex-container .flex-item {
  flex: 0 1 auto;
  align-self: auto;
}
.header .flex-container .flex-item .logo-margin-1 {
  margin-bottom: 20px;
}
.header .flex-container .flex-item .logo-margin-2 {
  margin-bottom: 40px;
}
.header .qr {
  width: 160px;
  height: 160px;
}
.stand .no-bodrer {
  border: none;
  padding: 13px;
}
.stand .no-bodrer.annotation {
  padding: 7px 13px;
}
.stand .no-bodrer.bold {
  font-weight: bold;
}
.stand img {
  transform: scale(0.5);
}
.stand th {
  background-color: #c0c0c0;
}
.stand td, .stand th {
  border: 1px solid black;
  padding: 7px 13px;
}
.running-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.887em;
}
.running-footer .td1 {
  width: 40%;
  padding-left: 13px;
}
.running-footer .td2 {
  width: 45%;
}
.running-footer .td3 {
  text-align: right;
  width: 15%;
  padding-right: 13px;
    margin-bottom: -50px;
}
a {
  color: inherit;
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: inherit;
}
p {
  white-space: nowrap;
}
.p1 {
  padding: 13px;
  background-color: #c0c0c0;
}
.p2 {
  padding-left: 13px;
  font-weight: bold;
}
.small-text {
  font-size: 0.887em;
}

body {
    display: block;
    counter-reset: page 3;
}

.page {
    counter-increment: page;
}

@media print {

    div.divFooter::after {
        position: fixed;
        bottom: 0;
        content:"Page " counter(page) "/";
        page-break-after: always;
    }
}

/*#content {*/
    /*display: table;*/
/*}*/

/*#pageFooter {*/
    /*display: table-footer-group;*/
/*}*/

/*#pageFooter:after {*/
    /*counter-increment: page;*/
    /*content:"Page " counter(page);*/
    /*left: 0;*/
    /*top: 100%;*/
    /*white-space: nowrap;*/
    /*-moz-border-radius: 5px;*/
    /*-moz-box-shadow: 0px 0px 4px #222;*/
    /*background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);*/
    /*background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);*/
/*}*/
/*@media all {*/
    /*.page-break	{ display: none; }*/
/*}*/

/*@media print {*/
    /*.page-break	{ display: block; page-break-before: always; }*/
/*}*/
