-function addZero(num) {
    -return num<10 ? '0'+num : num;
-}

-function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = addZero(date.getDate());
    -var m = addZero(date.getMonth() + 1);
    -var y = date.getFullYear();
    -var h = addZero(date.getHours());
    -var min = addZero(date.getMinutes());
    -return `${d}.${m}.${y} ${h}:${min}`;
-}

-function getGender(genderId) {
    -var genderArr = ["U", "F", "M"]
    -return genderArr[genderId];
-}

-function getMeasure(measureId) {
    -var measureArr = ["", "cm", "kg"]
    -return measureArr[measureId];
-}

doctype html
html
    head
        style
            include index.css
        script
            include index.js
    body
        div.page.wrapper
            div.header
                div.flex-container
                    div.flex-item
                        div
                            img.logo(src='assets/img/logo.png')
                            div.logo-text Der Schweizer Medikationsplan
                    div.flex-item
                        div.logo-margin-1
                            div.header-text= `${Patient.FName} ${Patient.LName}`
                            div.default-text-size= `${Patient.BDt} (${getGender(Patient.Gender)})`
                            div.default-text-size= `${Patient.Street}, ${Patient.Zip} ${Patient.City} / ${Patient.Phone}`
                        div.flex-container.default-text-size
                            div.flex-item.small-text
                                div Körpergrösse / Gewicht :
                                div Niereninsuffizienz :
                                div Allergie(n) :
                            div.flex-item.small-text
                                div= `${Patient.Med.Meas[0].Val} ${getMeasure(Patient.Med.Meas[0].Unit)} / ${Patient.Med.Meas[1].Val} ${getMeasure(Patient.Med.Meas[1].Unit)}`
                                div= `TODO: leicht`
                                div= `TODO: Penicillin-Allergie`
                    div.flex-item.default-text-size
                        div.logo-margin-2 erstellt von :
                        div= `TODO: Dr. med. F. Weise`
                        div= `TODO: Praxis Weitblick`
                        div= `TODO: 9288 Berg`
                    div.flex-item
                        div
                            img.qr(src='assets/img/qr.png')
            p= `Letzter Stand: ${prettyDate(Dt)}`
            table.print(cellpadding='0' cellspacing='0')
                thead
                    tr
                        th(colspan='2') Medikament
                        th Morgen
                        th Mittag
                        th Abend
                        th zur Nacht
                        th Einheit
                        th Art der Medikation
                        th Von bis u. mit
                        th Anleitung
                        th Grund
                        th Verordnet durch
                tbody
                    each val in Medicaments
                        tr
                            td= `${val.IdType}`
                            td= `${val.IdType}`
                            td= `${val.Pos[0].D[0]}`
                            td= `${val.Pos[0].D[1]}`
                            td= `${val.Pos[0].D[2]}`
                            td= `${val.Pos[0].D[3]}`
                            td= `${val.Unit}`
                            td täglich
                            td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                            td= `${val.AppInstr ? val.AppInstr : ''}`
                            td= `${val.TkgRsn}`
                            td= `${val.PrscbBy ? val.PrscbBy : ''}`
                        tr
                            td= `${val.IdType}`
                            td= `${val.IdType}`
                            td= `${val.Pos[0].D[0]}`
                            td= `${val.Pos[0].D[1]}`
                            td= `${val.Pos[0].D[2]}`
                            td= `${val.Pos[0].D[3]}`
                            td= `${val.Unit}`
                            td täglich
                            td= `${val.Pos[0].DtFrom} TODO: clarify Medication->Up to and including (Von bis u. mit)`
                            td= `${val.AppInstr ? val.AppInstr : ''}`
                            td= `${val.TkgRsn}`
                            td= `${val.PrscbBy ? val.PrscbBy : ''}`
            p.p2 Bemerkung :
            p.p1= `${Rmk ? Rmk : 'Der Patient ist vom Medikationsplan begeistert!'}`
            each val in [,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,]
                p check pagination
