/*@page {*/
  /*size: 11.69in 8.427in;*/
  /*margin: 29px 26px 26px;*/
  /*padding-bottom: 150px;*/
  /*counter-increment: page;*/
/*}*/
@media print{
    @page {
        size: landscape;
    }
}

body {
    /*counter-reset: pages 0;*/
    margin: 0;
    padding: 0;
}
.page {
    display: block;
    width: 29.7cm;
    height: 19.975cm;
    overflow: hidden;
    page-break-before: always;
}
.footer {
    display: flex;
    width: 29.7cm;
    height: 1cm;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
/*.page {*/
    /*position:relative;*/
    /*width: 29.7cm;*/
    /*height: 19.975cm;*/
    /*overflow: hidden;*/
    /*counter-increment: pages;*/
    /*box-shadow: inset 0 0 10px #000000;*/
/*}*/
/*.page::after {*/
    /*content: 'some content 'counter(pages);*/
    /*position:relative;*/
    /*display: block;*/
    /*width: 29.7cm;*/
    /*bottom: 0.5cm;*/
    /*overflow: hidden;*/
    /*box-shadow: inset 0 0 40px #006600;*/
/*}*/
.wrapper {
  font-family: 'Arial';
}
.footer, .stand, .default-text-size {
  font-size: 0.716em;
}
.header .logo {
  width: 223px;
  height: 61px;
  margin-bottom: 13px;
}
.header .logo-text {
  font-weight: bold;
  text-align: center;
  font-size: 0.887em;
}
.header .header-text {
  font-size: 1.341em;
}
.header .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.header .flex-container .flex-item {
  flex: 0 1 auto;
  align-self: auto;
}
.header .flex-container .flex-item .logo-margin-1 {
  margin-bottom: 20px;
}
.header .flex-container .flex-item .logo-margin-2 {
  margin-bottom: 40px;
}
.header .qr {
  width: 160px;
  height: 160px;
}
.stand .no-bodrer {
  border: none;
  padding: 13px;
}
.stand .no-bodrer.annotation {
  padding: 7px 13px;
}
.stand .no-bodrer.bold {
  font-weight: bold;
}
.stand img {
  transform: scale(0.5);
}
.stand th {
  background-color: #c0c0c0;
}
.stand td, .stand th {
  border: 1px solid black;
  padding: 7px 13px;
}
.running-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.887em;
}
.running-footer .td1 {
  width: 40%;
  padding-left: 13px;
}
.running-footer .td2 {
  width: 45%;
}
.running-footer .td3 {
  text-align: right;
  width: 15%;
  padding-right: 13px;
    margin-bottom: -50px;
}
a {
  color: inherit;
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: inherit;
}
p {
  white-space: nowrap;
  margin: 0;
}
.p1 {
  padding: 13px;
  background-color: #c0c0c0;
}
.p2 {
  padding-left: 13px;
  font-weight: bold;
}
.small-text {
  font-size: 0.887em;
}



div.fauxRow {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  page-break-inside: avoid;
}
table.fauxRow {border-spacing: 0;}
table.fauxRow > tbody > tr > td {
  padding: 0;
  overflow: hidden;
}
table.fauxRow > tbody > tr > td > table.print {
  display: inline-table;
  vertical-align: top;
}
table.fauxRow > tbody > tr > td > table.print > caption {caption-side: top;}
.noBreak {
  float: right;
  width: 100%;
  visibility: hidden;
}
.noBreak:before, .noBreak:after {
  display: block;
  content: "";
}
.noBreak:after {margin-top: -594mm;}
.noBreak > div {
  display: inline-block;
  vertical-align: top;
  width:100%;
  page-break-inside: avoid;
}
table.print > tbody > tr {page-break-inside: avoid;}
table.print > tbody > .metricsRow > td {border-top: none !important;}

/* THE FOLLOWING CSS IS REQUIRED, but the values may be adjusted. */
/* NOTE: All size values that can affect an element's height should use the px unit! */
table.fauxRow, table.print {
  font-size: 16px;
  line-height: 20px;
}

/* THE FOLLOWING CSS IS OPTIONAL. */
body {counter-reset: t1;} /* Delete to remove row numbers. */
.noBreak .t1 > tbody > tr > :first-child:before {counter-increment: none;} /* Delete to remove row numbers. */
.t1 > tbody > tr > :first-child:before { /* Delete to remove row numbers. */
  display: block;
  text-align: right;
  counter-increment: t1 1;
  content: counter(t1);
}
table.fauxRow, table.print {
  font-family: Tahoma, Verdana, Georgia; /* Try to use fonts that don't get bigger when printed. */
  margin: 0 auto 0 auto; /* Delete if you don't want table to be centered. */
}
table.print {border-spacing: 0;}
table.print > * > tr > * {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0 5px 0 5px;
}
table.print > * > :first-child > * {border-top: 2px solid black;}
table.print > thead ~ * > :first-child > *, table.print > tbody ~ * > :first-child > * {border-top: none;}
table.print > * > tr > :first-child {border-left: 2px solid black;}
table.print > thead {vertical-align: bottom;}
table.print > thead > .borderRow > th {border-bottom: none;}
table.print > tbody {vertical-align: top;}
table.print > caption {font-weight: bold;}